* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: #181818;
}

button{
    padding: 1rem 3rem;
    background-color: yellow;
    color: black;
}

img{
    width: 300px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}

h2{
    color: yellow;
    padding:20px;
}