* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: #181818;
}

button{
    padding: 1rem 3rem;
    border-radius: 1rem;

    border: dotted 0.2rem rgb(255, 255, 255);
    background-color: rgb(217, 78, 103);
    color: rgb(5, 5, 5);
}